<style>
#dsDialog {
	height: 230px; 
	width: 700px; 
	background-image: url('<%= backgroundImage %>');
	background-repeat: repeat-x; 
	margin: 0; 
	padding: 0; 
	border: 0px;
	font-family: Helvetica;
}

#dsDialog_header {
	height: 47px;
	font-size: 14px;
	color: #20557A;
	font-weight:normal;
}

#dsDialog_header_left{
	height:47px;
	float:left;
	line-height: 47px;
}

img#check {
	width:42px;
	height:46px
}

#dsDialog_header_text{
	position:absolute;
	top:0;
	left:42;
}

#dsDialog_header_right{
	height:47px;
	line-height:2.5em;
	float:right;
}

#ds_SaveEnvelope_DialogBox_close {
	width:34px;
	height:46px
}

#dsDialog_main {
	text-align: center;
	height: 184px;
}

#saved {
	font-size: 19px;
	color: #20557A;
	font-weight: bold;
}

#access {
	font-size: 14px;
	color: #666666;
	font-weight:normal;
}

#ds_save_envelope_close {
	width:103px;
	height:36px;
}

.ds_button {
	background-image: url('<%= buttonImage %>');
	cursor:pointer;
	border: none;
	width: 103px;
	height: 36px;
	color: #636363;
	font-size: 12px;
	font-family: Helvetica;
	font-weight: bold;
}
</style>

<div id="dsDialog" >
	<div id="dsDialog_header">
		<div id="dsDialog_header_left">
			<img id="check" src="<%= checkImage %>" alt="" />
			<span id="dsDialog_header_text"><%= savedText %></span>
		</div>
		<div id="dsDialog_header_right">
			<input id="ds_SaveEnvelope_DialogBox_close" type="image" src="<%= closeImage %>" alt="close" />
		</div>
	</div>
	<div id="dsDialog_main">
		<br>
		<span id="saved"><%= savedText %></span><br><br>
		<p id="access"><%= accessText %></p><br>
		<button id="ds_save_envelope_close" class="ds_button" type="button" ><%= dsCloseText %></button>
	</div>
</div>