<style>
#dsDialog {	
	height: 330px; 
	width: 620px; 
	background-image: url('<%= backgroundImage %>');  
	background-repeat: repeat-x; 
	margin: 0; 
	padding: 0;
	border: 0px;
	font-family: Helvetica;
}

#dsHeader {
	height: 46px;
	font-size: 14px;
	color: #20557A;
	font-weight: normal;
}

#dsHeader_right {
	height: 47px;
	float: right;
}

#dsHeader_left {
	height: 47px;
	line-height: 47px;
}

#ds_LoginAcct_DialogBox_close {
	width:34px;
	height:46px
}

#dsDialog_main {
	text-align: center;
	height: 273px;
}

#ds_login_account {
	width:103px;
	height:36px;
}

#dsWarningMsg{
	font-size: 12px;
}

.ds_button {
	background-image: url('<%= buttonImage %>');
	cursor:pointer;
	border: none;
	width: 103px;
	height: 36px;
	color: #636363;
	font-size: 12px;
	font-family: Helvetica;
	font-weight: bold;
}
</style>


<div id="dsDialog" >
	<div id="dsHeader">
		<div id="dsHeader_right">
			<input id="ds_LoginAcct_DialogBox_close" type="image" src="<%= closeImage %>" alt="close" />
		</div>
		<div id="dsHeader_left">
			<span>&nbsp;&nbsp;<%= headerLabelText %></span>
		</div>
	</div>
	<div id="dsDialog_main">
		<br>
		<%= dsEnterYourDSCredentialsText %><br><br>
		<%= dsEnvironmentText%>:&nbsp;<%= dsEnvDropDownHTML %><br><br>
		<%= dsEmailAddressText%>
		<input type="text" id="ds_dsAcct_email" value="" size ="50" maxlength="50" /><br><br>
		<%= dsPasswordText%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="password" id="ds_dsAcct_password" value="" size ="50" maxlength="50" /><br><br>
		<button id="ds_login_account" class="ds_button" type="button" ><%= dsLogInText %></button><br><br>
		<label id="dsWarningMsg"><%= dsLoginDSAcctMsgText %></label>
	</div>
</div>
